* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
    transition: 0.2s ease-in-out;
    user-select: none;
}

body {
    margin: 0;
    padding:0;
    padding-top: 5vh;
    width: 100vw;
    text-align: center;
    background-color: #4a4750;
}
/*
.align{
    display:flex;
    justify-content: center;
    align-items: center;
}

.turn-container {
    width: 170px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}
.turn-container h3 {
    margin:0;
    grid-column-start: 1;
    grid-column-end: 3;
}
.turn-container .turn-box{
    border: 3px solid #000;
    font-size: 1.6rem;
    font-weight: 700;
}
.turn-container .turn-box:nth-child(event){
    border-right:none;
}
.bg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85px;
    height: 40px;
    background-color: #FF2E63;
}
*/

header h1 {
    font-size: 100px;
    margin: 0px;
}

header h2 {
    font-size: 54px;
    margin: 0px;
    color: #888;
    font-style: italic;
}

.table-content {
    display: inline-block;
    
}
.talbe-row{
    display: table-row;
    padding: 3px;
}
.table-cell{
    background-color: rgb(48, 48, 211);
    border: black solid 3px;
    display: table-cell;

    width:100px ;
    height:100px;
    color:white;

    font-size: 80px;
    font-weight: bold;
    text-align:center;
    padding: 10px;
    margin: 10px;
}
main{
    display: table;
    margin:auto;
    padding-top: 50px;
}
.focus{
    background-color: green;
    box-shadow: inset 0px 0px 0px 10px white;
    transition: 700px;
}
